{% extends 'blogapp/base.html' %}

{% block title %}
    Articles List
{% endblock %}

{% block body %}
    <h1>
        Articles:
    </h1>
    {% if object_list %}
        <div>
            {% for article in object_list %}
                <div>
                    <p>Title: {{ article.title }}</p>
                    <p>Pub_Date: {{ article.pub_date }}</p>
                    <p>Author: {{ article.author.name }}</p>
                    <p>Category: {{ article.category.name }}</p>
                    <p>Tags:
                        <ul>
                            {% for tag in article.tags.all %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <br>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> Not articles </p>
    {% endif %}
    <div>
        <a href="{% url 'blogapp:create_article' %}">Create article</a>
    </div>
{% endblock %}