{% extends "myauth/base.html" %}

{% block title %}
    Update profile
{% endblock %}

{% block body %}
    <h1>
        Update profile
    </h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit">Update profile</button>
            </form>
        </div>
   <div>
        <a href="{% url 'accounts:about-me' %}"> About Me </a>
   </div>
{% endblock %}


